.homepage-banner {
	width: 80vw;
  	height: 250vh;
  	background-size: cover !important;
  	position: relative;
  	margin-left: 340px;
}
.wrapper {
	background-color: #272E36;
	background-size: cover !important;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#ruknox-logo-white img {
	display: block;
	border: 2px solid white;
	width: 40vw;
	padding: 40px;
}
#ruknox-logo-blue img {
	border: 2px solid white;
	width: 40vw;
	padding: 40px;
	display:none;
}
.ruknox-box {
	-webkit-transition: all .5s ease-in-out;
}
.ruknox-box:hover {
	-webkit-transform: scale(1.25);
	#ruknox-logo-white img {
		display: block;
	}
	#ruknox-logo-blue img {
		display: none;
	}
}