.homepage-banner {
	width: 80vw;
  	height: 250vh;
  	background-size: cover !important;
  	position: relative;
  	margin-left: 340px;
}
.wrapper {
	background-color: #272E36;
	background-size: cover !important;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#ruknox-logo-white img {
	border: 1px solid white;
	width: 30vw;
	padding: 40px;
}
.ruknox-box {
	-webkit-transition: all .5s ease-in-out;
}
.ruknox-box:hover {
	-webkit-transform: scale(1.05);
}