.wrapper-home {
	background-size: cover !important;
	height: 100vh;
	display: flex;
	align-items: center;
}
.portraits {
	position: relative;
	left: 355px;
	img {
		width: 390px;
		height: 440px;
	}
}