<!-- <div class="contact-page contact-page-fixed slideRight ">
	<h2>Contact</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor recusandae eligendi velit ab ipsa et deserunt error, culpa vero nobis assumenda molestias, dicta sapiente atque magnam quae quia cupiditate eius.

	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis voluptate non eius maiores! Eos culpa, nemo dolores aperiam ea tempora magni possimus nobis atque! Mollitia eum totam omnis, cupiditate! Aliquam!</p>
</div> -->