<div class="wrapper banner">
	<div class="ruknox-box">
		<div id="ruknox-logo-white">
			<%= link_to home_path do %>
				<%= image_tag "RuKnox_logo_white.png" %>
			<% end %>
		</div>
	</div>
</div>

