<div class="wrapper">
	<div class="ruknox-box">
		<div id="ruknox-logo-white">
			<%= link_to home_path do %>
				<%= image_tag "RuKnox-white.png" %>
			<% end %>
		</div>
		<div id="ruknox-logo-blue">
			<%= link_to home_path do %>
				<%= image_tag "RuKnox-blue.png" %>
			<% end %>
		</div>
	</div>
</div>
