<div class="wrapper banner">
	<div class="banner-content">
		<div class="ruknox-info">
				<%= image_tag "RuKnox_logo_white.png" %>
			<p><%= link_to "ru@ruknox.com", "mailto:info@ruknox.com", class: "email-address" %></p>
			<p><%= link_to "https://www.instagram.com/ruknox", class: "email-address", target: "_blank" do %>
  				<i class="fa fa-instagram"> </i> @ruknox
			<% end %></p>
		</div>
		<div class="coming-soon fadeIn">
			<%= image_tag "ComingSoon.png" %>
		</div>
	</div>
</div>

