<%= render 'shared/side_navbar' %>
<div class="wrapper-home">
	<div class="portraits">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1490878818/Wizard_close_qwsqek.jpg" %>
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1490878818/Chinese_girl_close_vz8ek7.jpg" %>
	</div>
</div>
