.banner {
  background-image: url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1490958524/Wizard_copy_tfsm0i.jpg');
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  position: relative;
}
//.banner:hover {
	//background-image: linear-gradient(-225deg, rgba(0,10,50,0.1) 50%, rgba(0,36,61,0.6) 80%), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1490959405/Wiz_yxgzyo.jpg');
//}