.banner {
  background-image: url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1493659613/RuKnox1_ketxww.jpg');
  color: white;
  text-align: center;
  height: 90vh;
  width: 100%;
  background-size: cover !important;
  position: relative;
  background-position: center;
}
//.banner:hover {
	//background-image: linear-gradient(-225deg, rgba(0,10,50,0.1) 50%, rgba(0,36,61,0.6) 80%), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1490959405/Wiz_yxgzyo.jpg');
//}